body{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

svg{
    width: 50px;
    height: auto;
    cursor: pointer;
}

ul, li{
    padding: 0;
    margin: 0;
    list-style: none;
}

.menubar{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-items, .more-items{
    padding: 0px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    background-color: rgb(138, 188, 233);
    transition: max-height 600ms ease-in-out;
}

.menu-item, .more-item, .mobile-item{
    list-style: none;
    cursor: pointer;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.menu-items.pop{
    max-height: 200px;
}

.menu-item:hover, .more-item:hover {
    background-color: rgb(44, 138, 219);
}

.mobile-bar{
    display: flex;
    padding: 10px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    height: 75px;
}

.mobile-items{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

.more-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.more{
    padding: 10px;
}

.more-items{
    width: auto;
    position: absolute;
    top:30px;
}

.more-items.pop{
    max-height: 1000px;
}

.more-items li:nth-child(1) {
    display: none;
}

.more-items li:nth-child(2) {
    display: none;
}

.more-items li:nth-child(3) {
    display: none;
}

.more-items li:nth-child(4){
    display: none;
}


@media (max-width : 800px ) {
    .mobile-items li:nth-child(7){
        display: none;
    }  

    .more-items li:nth-child(4){
        display: block;
    }
}

@media (max-width : 700px) {
    .mobile-items li:nth-child(6) {
        display: none;
    }

    .more-items li:nth-child(3) {
        display: block;
    }
}

@media (max-width : 600px) {
    .mobile-items li:nth-child(5) {
        display: none;
    }

    .more-items li:nth-child(2) {
        display: block;
    }
}

@media (max-width : 500px) {
    .mobile-items li:nth-child(4) {
        display: none;
    }

    .more-items li:nth-child(1) {
        display: block;
    }
}

.image{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap:10px;
    align-items: center;
}

.image-arrows{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.photos{
    display: flex;
    width: 70%;
    border:10px solid rgb(0, 0, 0);
    border-radius: 10px;
    overflow: hidden;
    justify-content: center;
}

.dots{
    display: flex;
    gap:15px;
}

svg.dot{
    width:15px;
    height: auto;
    fill: grey;
    border: 1px solid black;
    border-radius: 50%;
}

svg.dot:hover{
    fill: black;
}

img{
    height: 500px;
    width: auto;
}

.photos img:nth-child(1),
.photos img:nth-child(2),
.photos img:nth-child(3),
.photos img:nth-child(4),
.photos img:nth-child(5){
    display: none;
}

.photos img.show:nth-child(1),
.photos img.show:nth-child(2),
.photos img.show:nth-child(3),
.photos img.show:nth-child(4),
.photos img.show:nth-child(5){
    display: block;
}