svg{
    width: 50px;
    height: auto;
    cursor: pointer;
}

.menubar{
    width: 200px;
}

ul{
    padding: 0px;
    margin: 0;
    height: 0;
    overflow: hidden;
    background-color: rgb(138, 188, 233);
    transition: height 200ms ease-in-out;
}

li{
    list-style: none;
    padding: 10px;
    margin: 0;
    cursor: pointer;
}

/*Works with Javascript click*/
ul.pop{
    height: 200px;
    padding: 10px;
}

li:hover {
    background-color: rgb(44, 138, 219);
}

/* Works with out Javascript on hover
.menubar:hover ul{
  height: 200px;
  padding: 10px;
}
*/